.middlepage {
  background: url("https://serving.photos.photobox.com/919434136c76546f67487e837cabac68e1e8bcfbbff9ba671eecd4afea6cbc2c62d9cc53.jpg")no-repeat center center;
  /* background-size: cover; */
      width: 100%;
      height: 600px;
      background-size: 100% 100%;
      background-position: top;
}
.orangetext {
  color: #FF530D;
}
.bluebackground {
  background-color: #3CDBEE;
}