
<body class="middlepage">
  <div class="container d-flex h-100">
      <div class="row align-self-center w-100">
          <div class="col-6 mx-auto">
              <div class="text-center">
                  <h1 class="display-4 orangetext center">Trust us, it is.</h1>
                  <p class="lead">During your Taco Tuesday rendezvous or your weekend brunch event, not only are you getting your drank on, but you're getting some of that daily intake of <b>Agave Superfood.</b></p>
                  <p class="lead">
                      <a><img src="/src/assets/images/Button.png"></a>
                  </p>
              </div>
          </div>
      </div>
  </div>
  </body>