
<body class="middlepage">
  <div class="container d-flex h-100">
      <div class="row align-self-center w-100">
          <div class="col-6 mx-auto">
              <div>
                  <h1 class="display-4 orangetext center">Trust us, it is.</h1>
                  <p class="lead">During your Taco Tuesday rendezvous or your weekend brunch event, not only are oyu getting your drank on, but you're getting some of that daily intake of Agave Superfood.</p>
                  <p class="lead">
                      <a class="btn btn-primary btn-lg " href="#" role="button">Ok, I believe you</a>
                  </p>
              </div>
          </div>
      </div>
  </div>
  </body>